
section#navPag{
    width: 1200px;
    height: 800px;
    background-color:rgb(238, 241, 236);
    text-align: center;

}
div#nav_drawer{
    width: 250px;
    height: 800px;
    float: left;
    background-color:rgb(49, 49, 54);

}
div#pagina{
    width: 950px;
    height: 800px;
    float: left;
    background-color:rgb(234, 234, 236);

}

pre#preMenu{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  color: rgb(2, 2, 2);
  background-color: rgb(243, 167, 54);
  font-weight: bold;
  
}

  
 .btn-group button{
      background-color:white ;
      border-color: #008CBA;
      color: black;
      padding: 15px 51.5px;
      cursor:pointer;
      display: inline-block;      
      font-size:15px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      transition-duration: 0.4s;
      width: 250px;
  }
 
  .btn-group button:hover {
    background-color: #008CBA; /* Green */
    color: white;
  }
   
  .btn-group:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  
