*{
  margin: 0;
}

h1{
  font-family: 'RocknRoll One', sans-serif;
}

section#navPag{
  width: 1230px;
  height: 800px;
  background-color:rgb(255, 255, 255);
  text-align: center;
  margin: 0 auto;

}
div#nav_drawer{
  width: 250px;
  height: 800px;
  float: left;
  background-color:rgb(49, 49, 54);
}

div#pagina{
  width: 950px;
  height: 70px;
  float: right;
  background-color:rgb(255, 255, 255);
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
}

/*div#formRegistro{
  width: 950px;
  height: 200px;
}*/

pre#preMenu{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  color: rgb(2, 2, 2);
  background-color: rgb(243, 167, 54);
  font-weight: bold;
  
}

/*Logo temporal Tienda Comidas*/
#logo_HB{
  width: 200px;
}
  
.btn-group button{
  background-color:white ;
  border-color: lightgreen;
  color: black;
  padding: 15px 51.5px;
  cursor:pointer;
  display: inline-block;      
  font-size:15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition-duration: 0.4s;
  width: 250px;
  }

.btn-group button:hover {
  background-color: green; /* Green */
  color: white;
}


.btn-group:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}
  /*Formulario*/
div#formRegistro{
  height: 650px;
  width: 500px;
  float: left;
  background-color: rgb(251, 255, 0);
  background-image: linear-gradient(rgb(196, 131, 10),rgb(250, 212, 132));
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: left;
  margin-left: 250px;;
}

input[type=text], select {
  width: 100%;
  padding: 17px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password], select {
  width: 100%;
  padding: 17px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#Regist{
  padding-top: 10px;
}

legend{
  padding: 10px;
  
}


  /* PaginaAspectosGenerales */
.hambu{
  font-size: 4rem;
  color: blue;
  margin: 0;
  padding: 1rem 1rem;
  
}

.contboton{
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
  ;
  
}

.btn1{
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 1rem;
}
.btn1:hover{
  color: white;
  background-color: #008CBA;
}
.btn1 img{
  max-width: 20px;
  padding-right: 10px;
}
